*, *::before, *::after {
  box-sizing: border-box;
  margin-top: 0;
  overflow: auto;
}

:root {
  font-family: Noto Serif, serif;
  font-size: 1.1em;
  line-height: 1.4;
}

body {
  display: grid;
  grid: auto-flow / minmax(1em, 1fr) minmax(auto, 40em) minmax(1em, 1fr);
}

header {
  grid-column: 1 / -1;
  text-align: center;
}

main {
  grid-column: 2;
}

footer {
  grid-column: 1 / -1;
  grid-row: -1 / span;
  margin-top: 3rem;
  text-align: center;
  color: #444;
}

h1, h2, h3 {
  color: #333;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}

article .header {
  margin-bottom: 2em;
}

.logo a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}

.list-post {
  margin: 2rem 0;
}
.list-post a {
  text-decoration: none;
}
.list-post-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #444;
  text-decoration: none;
}
.list-post-date {
  font-style: italic;
  color: #555;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

div.sourceCode {
  font-family: monospace;
  padding: 0.5rem 0.5rem;
  margin: 0;
}

ul {
  padding-left: 1em;
}
ul li {
  overflow: initial;
}
