<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if not .IsHome }} {{ .Title }} @ {{ end }} Nazarii's blog</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/default.css" />
    <meta name="google-site-verification" content="1eqgeS8dNQrx_2L4hO1e5FzIq3AbotzOVmASihAsJVA"/>
    <link href="https://webmention.io/nazarii.bardiuk.com/xmlrpc" rel="pingback"/>
    <link href="https://webmention.io/nazarii.bardiuk.com/webmention" rel="webmention"/>
</head>
