<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$if(title)$ $title$ @ $endif$ Nazarii's blog</title>
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link href="https://github.com/nbardiuk" rel="me">
        <link href="https://twitter.com/nbardiuk" rel="me">
        <link href="https://mastodon.social/@Nbardiuk" rel="me">
        <link href="https://keybase.io/nbardiuk" rel="me">
        <link href="mailto:nazarii@bardiuk.com" rel="me">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Nazarii's blog</a>
            </div>
        </header>
        <main role="main">
            $body$
        </main>
    </body>
</html>
